@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/* Брендовые цвета */

:root {
  --blu-brand-color: #2196f3;
  --black-brand-color: #000;
  --grey-brand-color: #757575;
  --white-brand-color: #fff;
  --item-color-title: #212121;
  --item-color-subtitle: rgba(117, 117, 117, 1);
  --brand-color-footer: rgba(47, 48, 58, 1);
  --brant-color-button: rgba(245, 244, 250, 1);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  box-sizing: border-box;
  color: #000;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* Стилизация Навигации */

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  height: 80px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  color: var(----black-brand-color);
  font-weight: 700;
  line-height: 1.7;
  font-family: raleway;
  letter-spacing: 3%;
  margin-left: 20px;
  margin-right: 90px;
}

.logo span {
  color: var(--blu-brand-color);
}
.nav-link,
.nav-contact {
  list-style: none;
  display: flex;
  
}

.nav-link a:hover,
.nav-link a:focus {
  color: var(--blu-brand-color);
}

.nav-link a {
  color: var(----black-brand-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2%;
  font-weight: 500;
  text-decoration: none;
}

/* стилизация нав контактов */

.nav-link li,
.nav-contact li {
  margin-right: 50px;
}

.nav-contact li:last-child {
  margin-right: 0px;
}

.header-contact {
  margin-right: 20px;
}

.contact a {
  color: var(--grey-brand-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.contact a:hover,
.contact a:focus {
  color: var(--blu-brand-color);
}

/* Стилизация Мэйн */

.main {
  margin-bottom: 94px;
}

.main-nav {
  margin-bottom: 15px;
}
.main-link {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-link button {
  margin: 0 4px;
  margin-bottom: 10px;
  color: var(--black-brand-color);
  font-size: 16px;
  line-height: 1.6;
  background: var(--brant-color-button);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
}
.main-link button:hover {
  color: var(--white-brand-color);
  background-color: var(--blu-brand-color);
  cursor: pointer;
}

/* Скрытй текст в портфолио */
.main-text {
  visibility: hidden;
}

.main-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-portfolio ul {
  padding: 0;
}
.main-item li {
  list-style: none;
}

.item-img {
  width: 100%;
}

.item-title {
  font-weight: 700;
  color: var(--item-color);
  line-height: 2;
  letter-spacing: 6;
  font-size: 18px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.item-subtitle {
  font-weight: 400;
  color: var(--item-color-subtitle);
  line-height: 1.8;
  letter-spacing: 6;
  font-size: 16px;
  margin-left: 24px;
  margin-bottom: 20px;
}
.footer {
  background: var(--brand-color-footer);
  padding: 60px 0;
}

.footer ul {
  padding: 0 0 0 20px;
}

.footer-contact li {
  margin-bottom: 9px;
  list-style: none;
}

.footer-contact .footer-map {
  color: var(--white-brand-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  font-size: 14px;
}
