/* Брендовые цвета */

:root {
  --blu-brand-color: #2196f3;
  --black-brand-color: rgba(33, 33, 33, 1);
  --grey-brand-color: rgba(117, 117, 117, 1);
  --white-brand-color: #fff;
  --black-logo: #000;
  --brand-color-footer: rgba(47, 48, 58, 1);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  box-sizing: border-box;
  color: #000;
  background-color: var(--white-brand-color);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* Стилизация Навигации */

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-nav {
  height: 80px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */

.logo {
  font-size: 26px;
  text-decoration: none;
  color: var(----black-brand-color);
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Raleway';
  letter-spacing: 3%;
  margin-left: 20px;
  margin-right: 90px;
}

.logo span {
  color: var(--blu-brand-color);
}

.nav-list,
.nav-contact {
  list-style: none;
  display: flex;
}

.nav-list .nav-link {
  color: var(----black-brand-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2%;
  font-weight: 500;
  text-decoration: none;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--blu-brand-color);
}



/* стилизация нав контактов */

.nav-list li,
.nav-contact li {
  margin-right: 50px;
}

.nav-contact li:last-child {
  margin-right: 0px;
}

.header-contact {
  margin-right: 20px;
}

.contact .contact-link {
  color: var(--grey-brand-color);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 2%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--blu-brand-color);
}

/* Стилизация Мэйн */

.main {
  margin-bottom: 94px;
}

.main-nav {
  margin-bottom: 15px;
}

.main-link {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-link button {
  margin: 0 4px;
  margin-bottom: 10px;
  color: var(--black-brand-color);
  font-size: 16px;
  line-height: 1.6;
  background: rgba(245, 244, 250, 1);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
}
.main-link button:hover {
  color: var(--white-brand-color);
  background-color: var(--blu-brand-color);
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(117, 117, 117, 0.2);
}

/* Скрытй текст в портфолио */
.main-text {
  visibility: hidden;
}

.main-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.main-portfolio ul {
  padding: 0;
}
.main-item li {
  list-style: none;
}

.item-img {
  width: 100%;
}

.item-title {
  font-weight: 700;
  color: var(----black-brand-color);
  line-height: 2;
  letter-spacing: 6;
  font-size: 18px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.item-subtitle {
  font-weight: 400;
  color: var(--grey-brand-color);
  line-height: 1.8;
  letter-spacing: 6;
  font-size: 16px;
  margin-left: 24px;
  margin-bottom: 20px;
}
.footer {
  background: var(--brand-color-footer);
  padding: 60px 0;
}

.footer ul {
  padding: 0 0 0 20px;
}

.footer-contact li {
  margin-bottom: 9px;
  list-style: none;
}

.footer-contact .footer-map {
  color: var(--white-brand-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  font-size: 14px;
}
